/* General Formatting for the entire webpage */
body {
  text-align: center;
  font-family: Helvetica;
}
/* Broadway Design */
h1 {
  font-size: 70px;
  font-weight: bold;
}
/* Links */
.btn-nav {
  font-size: 18px;
  color: white;
}
/* Broadway Design & Links Background & Additional Formatting */
.hero {
  background-image: url("../images/the-flatiron-building.png");
  font-size: 18px;
  color: white;
}
/* Our Process */
h2 {
  font-size: 32px;
  font-weight: bold;
}
/* Identify, Understand, & Execute; Portfolio, Team, & Contact */
h3 {
  font-size: 23px;
  font-weight: bold;
}
/* Coming Soon, We're Hiring!, and Phone, Email & Twitter */
.supporting-item {
  font-size: 14px;
}
/* Designed in New York */
.minihero h2 {
  background-image: url("../images/the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
  color: white;
}
/* © Broadway 2017 and Bottom Links */
.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
